.square {
  	background: rgb(102, 169, 223);
	border: 1.5px solid white;
	color: aliceblue;
	float: left;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	width: 80px;
	height: 80px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	line-height: 80px;
	transition: transform .5s;
}

.square:hover {
	background: rgb(45, 110, 163);
	transform: scale(1.05);
}

.square:focus {
  	outline: none;
}

/* Board */
.border-row:after {
	clear: both;
	content: "";
	display: table;
}

/* Game */
.game {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}

.game-info {
	padding-left: 10px;
}